torch==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch-geometric==2.5.3
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-cluster==1.6.3
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.4.2
networkx
python-louvain
matplotlib==3.8.4
